// [CR#111.10a]
Token(
    types: [Artifact],
    subtypes: [Treasure],
    abilities: [
        Activated(
            cost: [Tap, SacrificeThis],
            effect: AddMana(1, AnyColor),
        )
    ],
)
