KeywordAction(
    name: "Exile",
    spelling: "exile",
    grammar: Verb(
        bare: "exile",
        participle: "exiled",
        frame_set: Custom(frames: [
            [ObjectNounPhrase],
            [ObjectNounPhrase, PredicativeComplement],
        ]),
    ),
)
