KeywordAction(
    name: "Vote",
    spelling: "vote",
    grammar: Verb(
        bare: "vote",
        frame_set: Custom(
            frames: [
                [],
                [ObjectNounPhrase],
                [Lex("Preposition", "For"), ObjectNounPhrase],
            ],
        ),
    ),
)
