Subtype(
    category: Artifact,
    name: "bobblehead",
    spelling: "Bobblehead",
    grammar: Noun(singular: "Bobblehead"),
    params: [],
    body: Subtype(subtype: Of(host: Artifact, label: "Bobblehead"), rules: []),
)

