Subtype(
    category: Artifact,
    name: "spacecraft",
    spelling: "Spacecraft",
    grammar: Noun(singular: "Spacecraft", plural: "Spacecraft"),
    params: [],
    body: Subtype(subtype: Of(host: Artifact, label: "Spacecraft"), rules: []),
)

