// Flying's definition, a static ability: "This creature can't be blocked except by creatures
// with flying and/or reach." [CR#702.9b]
(
    name: "flyingExpansion",
    kinds: [Ability],
    params: [],
    body: Static(deontic(subject: thisCreature, compulsion: Forbid, deeds: [Core(Block)], role: Patient, patient: Counterpart(allOf(p: And([creature, Not(Or([HasKeyword(The("Flying")), HasKeyword(The("Reach"))]))]))))),
)
