// "Whenever <event> while <concurrent>, <instruction>"
(
    name: "triggeredWhile",
    kinds: [Ability],
    params: {"event": GameEvent, "while": Concurrent, "instruction": Instruction},
    body: Triggered(Param(event), [], Param(while), [], None, None, None, Param(instruction)),
)
