TurnPart(
    name: "Cleanup",
    spelling: "cleanup",
    grammar: Noun(
        singular: "cleanup",
        locative_temporal_license: TemporalLicensed,
        relationality: Relational,
    ),
    params: [],
)
