TurnPart(
    name: "Combat",
    spelling: "combat",
    grammar: Noun(
        singular: "combat",
        locative_temporal_license: TemporalLicensed,
        relationality: Relational,
    ),
    params: [],
)
