TurnPart(
    name: "CombatDamageStep",
    spelling: "combat damage step",
    grammar: Noun(
        singular: "combat damage step",
        locative_temporal_license: TemporalLicensed,
        relationality: Relational,
    ),
    params: [],
)
