TurnPart(
    name: "DrawStep",
    spelling: "draw step",
    grammar: Noun(
        singular: "draw step",
        locative_temporal_license: TemporalLicensed,
        relationality: Relational,
    ),
    params: [],
)
