TurnPart(
    name: "Upkeep",
    spelling: "upkeep",
    grammar: Noun(
        singular: "upkeep",
        locative_temporal_license: TemporalLicensed,
        relationality: Relational,
    ),
    params: [],
)
