Subtype(
    category: Enchantment,
    name: "shrine",
    spelling: "Shrine",
    grammar: Noun(singular: "Shrine"),
    params: [],
    body: Subtype(subtype: Of(host: Enchantment, label: "Shrine"), rules: []),
)

