Normal(
    name: "Pillage",
    mana_cost: [
        Generic(1),
        Red,
        Red,
    ],
    types: [Sorcery],
    abilities: [
        Unsupported("Destroy target artifact or land. It can't be regenerated."),
    ],
)
