Normal(
    name: "Wild Dogs",
    mana_cost: [Green],
    types: [Creature],
    subtypes: [Dog],
    abilities: [
        Unsupported("At the beginning of your upkeep, if a player has more life than each other player, the player with the most life gains control of ~."),
        Cycling([Mana([Generic(2)])]),
    ],
    power: 2,
    toughness: 1,
)
