// "if <condition>, <instruction>[; otherwise, <otherwise>]"
(
    name: "doIf",
    kinds: [Instruction],
    params: {"condition": Condition, "instruction": Instruction, "otherwise": Default(Any, None)},
    body: DoIf(Param(condition), Param(instruction), Param(otherwise)),
)
