Subtype(
    category: Creature,
    name: "artificer",
    spelling: "Artificer",
    grammar: Noun(singular: "Artificer"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Artificer"), rules: []),
)

