Subtype(
    category: Creature,
    name: "assassin",
    spelling: "Assassin",
    grammar: Noun(singular: "Assassin"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Assassin"), rules: []),
)

