Subtype(
    category: Creature,
    name: "azra",
    spelling: "Azra",
    grammar: Noun(singular: "Azra", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Azra"), rules: []),
)

