Subtype(
    category: Creature,
    name: "drix",
    spelling: "Drix",
    grammar: Noun(singular: "Drix", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Drix"), rules: []),
)

