Subtype(
    category: Creature,
    name: "dwarf",
    spelling: "Dwarf",
    grammar: Noun(singular: "Dwarf", plural: "Dwarves"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Dwarf"), rules: []),
)

