Subtype(
    category: Creature,
    name: "giraffe",
    spelling: "Giraffe",
    grammar: Noun(singular: "Giraffe", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Giraffe"), rules: []),
)

