Subtype(
    category: Creature,
    name: "goat",
    spelling: "Goat",
    grammar: Noun(singular: "Goat"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Goat"), rules: []),
)

