Subtype(
    category: Creature,
    name: "golem",
    spelling: "Golem",
    grammar: Noun(singular: "Golem"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Golem"), rules: []),
)

