Subtype(
    category: Creature,
    name: "hamster",
    spelling: "Hamster",
    grammar: Noun(singular: "Hamster"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Hamster"), rules: []),
)

