Subtype(
    category: Creature,
    name: "hero",
    spelling: "Hero",
    grammar: Noun(singular: "Hero", plural: "Heroes"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Hero"), rules: []),
)

