Subtype(
    category: Creature,
    name: "homarid",
    spelling: "Homarid",
    grammar: Noun(singular: "Homarid", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Homarid"), rules: []),
)

