Subtype(
    category: Creature,
    name: "horror",
    spelling: "Horror",
    grammar: Noun(singular: "Horror"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Horror"), rules: []),
)

