Subtype(
    category: Creature,
    name: "inhuman",
    spelling: "Inhuman",
    grammar: Noun(singular: "Inhuman", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Inhuman"), rules: []),
)

