Subtype(
    category: Creature,
    name: "inkling",
    spelling: "Inkling",
    grammar: Noun(singular: "Inkling"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Inkling"), rules: []),
)

