Subtype(
    category: Creature,
    name: "juggernaut",
    spelling: "Juggernaut",
    grammar: Noun(singular: "Juggernaut"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Juggernaut"), rules: []),
)

