Subtype(
    category: Creature,
    name: "kangaroo",
    spelling: "Kangaroo",
    grammar: Noun(singular: "Kangaroo", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Kangaroo"), rules: []),
)

