Subtype(
    category: Creature,
    name: "knight",
    spelling: "Knight",
    grammar: Noun(singular: "Knight"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Knight"), rules: []),
)

