Subtype(
    category: Creature,
    name: "mercenary",
    spelling: "Mercenary",
    grammar: Noun(singular: "Mercenary", plural: "Mercenaries"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Mercenary"), rules: []),
)

