Subtype(
    category: Creature,
    name: "mole",
    spelling: "Mole",
    grammar: Noun(singular: "Mole", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Mole"), rules: []),
)

