Subtype(
    category: Creature,
    name: "ninja",
    spelling: "Ninja",
    grammar: Noun(singular: "Ninja"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Ninja"), rules: []),
)

