Subtype(
    category: Creature,
    name: "orb",
    spelling: "Orb",
    grammar: Noun(singular: "Orb", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Orb"), rules: []),
)

