Subtype(
    category: Creature,
    name: "pentavite",
    spelling: "Pentavite",
    grammar: Noun(singular: "Pentavite", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Pentavite"), rules: []),
)

