Subtype(
    category: Creature,
    name: "reflection",
    spelling: "Reflection",
    grammar: Noun(singular: "Reflection"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Reflection"), rules: []),
)

