Subtype(
    category: Creature,
    name: "salamander",
    spelling: "Salamander",
    grammar: Noun(singular: "Salamander"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Salamander"), rules: []),
)

