Subtype(
    category: Creature,
    name: "snail",
    spelling: "Snail",
    grammar: Noun(singular: "Snail", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Snail"), rules: []),
)

