Subtype(
    category: Creature,
    name: "spider",
    spelling: "Spider",
    grammar: Noun(singular: "Spider"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Spider"), rules: []),
)

