Subtype(
    category: Creature,
    name: "sponge",
    spelling: "Sponge",
    grammar: Noun(singular: "Sponge", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Sponge"), rules: []),
)

