Subtype(
    category: Creature,
    name: "squid",
    spelling: "Squid",
    grammar: Noun(singular: "Squid", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Squid"), rules: []),
)

