Subtype(
    category: Creature,
    name: "thopter",
    spelling: "Thopter",
    grammar: Noun(singular: "Thopter"),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Thopter"), rules: []),
)

