Subtype(
    category: Creature,
    name: "toy",
    spelling: "Toy",
    grammar: Noun(singular: "Toy", plural: Unavailable),
    params: [],
    body: Subtype(subtype: Of(host: Creature, label: "Toy"), rules: []),
)

