KeywordAbility(
    name: "afterlife",
    params: [Amount],
    spelling: "afterlife",
    grammar: FixedKeyword(
        surface: "afterlife",
    ),
    // "Afterlife N" means "When this permanent is put into a graveyard from the
    // battlefield, create N 1/1 white and black Spirit creature tokens with
    // flying." [CR#702.135a]
    body: [
        triggered(
            dies(thisPermanent),
            createToken(you, creatureToken(1, 1, [White, Black], [spirit], [flying]), Param(0)),
        ),
    ],
)
