KeywordAbility(
    name: "dethrone",
    params: [],
    spelling: "dethrone",
    grammar: FixedKeyword(
        surface: "dethrone",
    ),
    // "Dethrone" means "Whenever this creature attacks the player with the most life
    // or tied for most life, put a +1/+1 counter on this creature." [CR#702.105a]
    body: [
        triggered(
            attacksPlayer(
                thisCreature,
                the(and([anyPlayer, superlative(Max, PlayerStat(LifeTotal), anyPlayer)])),
            ),
            putCounters(1, p1p1Counter, thisCreature),
        ),
    ],
)
