KeywordAbility(
    name: "equip",
    params: [Cost],
    spelling: "equip",
    grammar: FixedKeyword(
        surface: "equip",
        participial_adjective: (surface: "equipped",),
    ),
    // "Equip [cost]" means "[Cost]: Attach this permanent to target creature you
    // control. Activate only as a sorcery." [CR#702.6a]
    body: Keyword(
        keyword: "Equip",
        params: [Cost(cost: Param(0))],
        body: [
            Activated(
                cost: Param(0),
                instruction: Enact(
                    verb: Action(label: "Attach"),
                    instruction: Attachment(
                        r#move: Attached,
                        subject: AsMarker(marker: Permanent, subject: This),
                        host: Described(
                            determiner: Target(quantity: Range(low: 1, high: 1)),
                            predicate: And(
                                conjuncts: [
                                    HasType(type: Creature),
                                    HasPossessor(axis: Controller, possessor: You),
                                ],
                            ),
                        ),
                    ),
                    agent: None,
                ),
                timing: AsSorcery,
                limit: None,
                guard: None,
                activator: None,
            ),
        ],
    ),
)
