KeywordAbility(
    name: "eternalize",
    params: [Cost],
    spelling: "eternalize",
    grammar: FixedKeyword(
        surface: "eternalize",
    ),
    // "Eternalize [cost]" means "[Cost], Exile this card from your graveyard: Create
    // a token that's a copy of this card, except it's black, it's 4/4, it has no mana
    // cost, and it's a Zombie in addition to its other types. Activate only as a
    // sorcery." [CR#702.129a]
    body: [
        activated(
            compound([Param(0), perform(exileBy(you, this, graveyardOf(you)))]),
            create(
                1,
                copyOf(
                    this,
                    [
                        Edits([
                            Colors(Sets, Some([Black])),
                            Stat(Sets, Power, 4),
                            Stat(Sets, Toughness, 4),
                            ManaCost(None),
                            TypeLine(Adds, (subtypes: [zombie])),
                        ]),
                    ],
                ),
            ),
            asSorcery,
        ),
    ],
)
