KeywordAbility(
    name: "evolve",
    params: [],
    spelling: "evolve",
    grammar: FixedKeyword(
        surface: "evolve",
    ),
    // "Evolve" means "Whenever a creature you control enters, if that creature's power
    // is greater than this creature's power and/or that creature's toughness is
    // greater than this creature's toughness, put a +1/+1 counter on this creature."
    // [CR#702.100a]
    body: [
        triggeredIf(
            enters(a(creatureYouControl)),
            or([
                compareAmt(powerOf(that(Creature)), Greater, powerOf(thisCreature)),
                compareAmt(toughnessOf(that(Creature)), Greater, toughnessOf(thisCreature)),
            ]),
            putCounters(1, p1p1Counter, thisCreature),
        ),
    ],
)
