KeywordAbility(
    name: "extort",
    params: [],
    spelling: "extort",
    grammar: FixedKeyword(
        surface: "extort",
    ),
    // "Extort" means "Whenever you cast a spell, you may pay {W/B}. If you do, each
    // opponent loses 1 life and you gain life equal to the total life lost this way."
    // [CR#702.101a]
    body: Keyword(
        keyword: "Extort",
        params: [],
        body: [
            Triggered(
                event: Casts(
                    player: You,
                    spell: Described(
                        determiner: A(Unmarked),
                        predicate: And(
                            conjuncts: [
                                InZone(Zone(zone: Stack, scope: Bare)),
                                Not(AbilityHead(AnyOnStack)),
                            ],
                        ),
                    ),
                    from: None,
                ),
                alternatives: [],
                r#while: None,
                joins: [],
                timing: None,
                limit: None,
                intervening: None,
                instruction: WithContinuation(
                    policy: Optional(You),
                    body: Pay(
                        cost: Mana([Hybrid(left: White, right: Black)]),
                        times: Once,
                        agent: You,
                    ),
                    if_did: Sequentially(
                        steps: [
                            ChangeLife(
                                delta: Down(1),
                                agent: Described(determiner: Each, predicate: Opponent),
                            ),
                            ChangeLife(delta: Up(ThatMuch), agent: You),
                        ],
                    ),
                    if_not: None,
                ),
            ),
        ],
    ),
)
