KeywordAbility(
    name: "fear",
    params: [],
    spelling: "fear",
    grammar: FixedKeyword(
        surface: "fear",
    ),
    // "A creature with fear can't be blocked except by artifact creatures and/or
    // black creatures." [CR#702.36b]
    body: [
        static(cantBeBlockedBy(thisCreature, and([creature, not(or([artifact, colorIs(Black)]))]))),
    ],
)
