KeywordAbility(
    name: "fear",
    params: [],
    spelling: "fear",
    grammar: FixedKeyword(
        surface: "fear",
    ),
    // "A creature with fear can't be blocked except by artifact creatures and/or
    // black creatures." [CR#702.36b]
    body: Keyword(
        keyword: "Fear",
        params: [],
        body: [
            Static(
                spec: DeonticRule(
                    subject: AsType(type: Creature, subject: This, subtype: None),
                    compulsion: Forbid,
                    deeds: [Core(deed: Block)],
                    role: Patient,
                    bound: None,
                    patient: Counterpart(
                        patient: Described(
                            determiner: All,
                            predicate: And(
                                conjuncts: [
                                    HasType(type: Creature),
                                    Not(
                                        predicate: Or(
                                            disjuncts: [
                                                HasType(type: Artifact),
                                                ColorIs(color: Black),
                                            ],
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ),
                    as_though: None,
                    rider: NoRider,
                ),
            ),
        ],
    ),
)
