KeywordAbility(
    name: "kicker",
    params: [Cost],
    spelling: "kicker",
    grammar: FixedKeyword(
        surface: "kicker",
        participial_adjective: (surface: "kicked",),
    ),
    // "Kicker [cost]" means "You may pay an additional [cost] as you cast this spell."
    // [CR#702.33a]
    body: Keyword(
        keyword: "Kicker",
        params: [Cost(Param(0))],
        body: [Static(AddedCost(cost: Param(0), offered: true))],
    ),
)
