KeywordAbility(
    name: "ninjutsu",
    params: [Cost],
    spelling: "ninjutsu",
    grammar: FixedKeyword(
        surface: "ninjutsu",
    ),
    // "Ninjutsu [cost]" means "[Cost], Reveal this card from your hand, Return an
    // unblocked attacking creature you control to its owner's hand: Put this card
    // onto the battlefield from your hand tapped and attacking." [CR#702.49a]
    body: [
        activated(
            compound([
                Param(0),
                perform(reveal(this)),
                perform(returnToHand(a(and([creature, attacking, unblocked, youControl])))),
            ]),
            putOntoBattlefieldTappedAttacking(this, yourHand),
        ),
    ],
)
