KeywordAbility(
    name: "persist",
    params: [],
    spelling: "persist",
    grammar: FixedKeyword(
        surface: "persist",
    ),
    // "Persist" means "When this permanent is put into a graveyard from the
    // battlefield, if it had no -1/-1 counters on it, return it to the battlefield
    // under its owner's control with a -1/-1 counter on it." [CR#702.79a]
    body: [
        triggeredIf(
            dies(thisPermanent),
            not(matches(thisPermanent, hasCounters(m1m1Counter))),
            returnToBattlefield(
                thisPermanent,
                [Under(ownerOf(thisPermanent)), WithCounters(1, m1m1Counter, Fresh)],
            ),
        ),
    ],
)
