KeywordAbility(
    name: "ravenous",
    params: [],
    spelling: "ravenous",
    grammar: FixedKeyword(
        surface: "ravenous",
    ),
    // "Ravenous" means "This permanent enters with X +1/+1 counters on it" and "When
    // this permanent enters, if X is 5 or more, draw a card." [CR#702.156a]
    body: [
        static(entersWithCounters(thisPermanent, letter(X), p1p1Counter)),
        triggeredIf(enters(thisPermanent), compareAmt(letter(X), AtLeast, 5), draw(1)),
    ],
)
