KeywordAbility(
    name: "recover",
    params: [Cost],
    spelling: "recover",
    grammar: FixedKeyword(
        surface: "recover",
    ),
    // "Recover [cost]" means "When a creature is put into your graveyard from the
    // battlefield, you may pay [cost]. If you do, return this card from your graveyard
    // to your hand. Otherwise, exile this card." [CR#702.59a]
    body: Keyword(
        keyword: "Recover",
        params: [Cost(Param(0))],
        body: [
            Triggered(
                event: ZoneChange(
                    subject: Described(
                        determiner: A(Unmarked),
                        predicate: HasType(Creature),
                    ),
                    from: Zones([Zone(zone: Battlefield, scope: Bare)]),
                    to: Zone(zone: Graveyard, scope: PossessedBy(You)),
                    observation: Before,
                ),
                alternatives: [],
                r#while: None,
                joins: [],
                timing: None,
                limit: None,
                intervening: None,
                instruction: WithContinuation(
                    policy: Optional(You),
                    body: Pay(cost: Param(0), times: Once, agent: You),
                    if_did: Enact(
                        verb: Core(Return),
                        instruction: Move(
                            subject: This,
                            to: Zone(zone: Hand, scope: Bare),
                            riders: [],
                        ),
                        agent: You,
                    ),
                    if_not: Enact(
                        verb: Action("Exile"),
                        instruction: Move(
                            subject: This,
                            to: Zone(zone: Exile, scope: Bare),
                            riders: [],
                        ),
                        agent: You,
                    ),
                ),
            ),
        ],
    ),
)
