KeywordAbility(
    name: "reinforce",
    params: [Amount, Cost],
    spelling: "reinforce",
    grammar: FixedKeyword(
        surface: "reinforce",
    ),
    // "Reinforce N—[cost]" means "[Cost], Discard this card: Put N +1/+1 counters on
    // target creature." [CR#702.77a]
    body: [
        activated(
            compound([Param(1), perform(discard(this))]),
            putCounters(Param(0), p1p1Counter, target(creature)),
        ),
    ],
)
