KeywordAbility(
    name: "ward",
    params: [Cost],
    spelling: "ward",
    grammar: FixedKeyword(
        surface: "ward",
    ),
    // "Ward [cost]" means "Whenever this permanent becomes the target of a spell or
    // ability an opponent controls, counter that spell or ability unless that player
    // pays [cost]." [CR#702.21a]
    body: [
        triggered(
            becomesTarget(
                thisPermanent,
                a(and([inZone(stack), controlledBy(playerGroup(YourOpponents))])),
            ),
            doUnless(controllerOf(that(Stack)), counter(that(Stack)), Param(0)),
        ),
    ],
)
