Normal(
  name: "Serra's Blessing",
  mana_cost: [
    Generic(1),
    White,
  ],
  types: [
    Enchantment,
  ],
  abilities: [
    Static(Each(SelectAll(AllOf([Creature, ControlledBy(Ref(You))])), Modify(It, GainAbility(Keyword(Vigilance))))),
  ],
)
