Normal(
  name: "Tribal Flames",
  mana_cost: [
    Generic(1),
    Red,
  ],
  types: [
    Sorcery,
  ],
  abilities: [
    Spell(
      effect: Targeted(targets: [AnyTarget], effect: DealDamage(Target(0), Domain)),
    ),
  ],
)
