Normal(
  name: "Youthful Knight",
  mana_cost: [
    Generic(1),
    White,
  ],
  types: [
    Creature,
  ],
  subtypes: [
    Human,
    Knight,
  ],
  abilities: [
    Keyword(FirstStrike),
  ],
  power: 2,
  toughness: 1,
)
