// "Battle cry" [CR#702.91a]
SingleFaced(face: (
    characteristics: (
        name: "Accorder Paladin",
        cost: [
            1,
            White,
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Human"), Of(host: Creature, label: "Knight")],
        power: 3,
        toughness: 1,
        text: [battleCry],
    ),
))
