// "Flanking" [CR#702.25a]
SingleFaced(face: (
    characteristics: (
        name: "Benalish Cavalry",
        cost: [
            Simple(symbol: Generic(amount: 1)),
            Simple(symbol: Specific(color: Of(color: White))),
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Human"), Of(host: Creature, label: "Knight")],
        power: Lit(value: 2),
        toughness: Lit(value: 2),
        text: [Flanking],
    ),
))
