// "Enchant creature / Enchanted creature gets +3/+3. / Umbra armor" [CR#702.89a]
SingleFaced(face: (
    characteristics: (
        name: "Boar Umbra",
        cost: [
            Simple(symbol: Generic(amount: 2)),
            Simple(symbol: Specific(color: Of(color: Green))),
        ],
        types: [Enchantment],
        subtypes: [Of(host: Enchantment, label: "Aura")],
        text: [
            keywordSubject(label: "Enchant", subject: hasType(type: Creature)),
            static(
                spec: conjunction(
                    subject: None,
                    parts: [
                        modification(
                            subject: attachHost(word: Enchanted, head: Type(type: Creature)),
                            stat: Power,
                            delta: up(amount: Lit(value: 3)),
                        ),
                        modification(
                            subject: attachHost(word: Enchanted, head: Type(type: Creature)),
                            stat: Toughness,
                            delta: up(amount: Lit(value: 3)),
                        ),
                    ],
                ),
            ),
            umbraArmor,
        ],
    ),
))
