// "Untap target permanent." [CR#701.26b]
SingleFaced((
    characteristics: (
        name: "Burst of Energy",
        cost: [White],
        types: [Instant],
        text: [
            spell(
                timing: None,
                instruction: untap(described(
                    determiner: Target(range(low: 1, high: 1)),
                    predicate: inZone(zone: zone(zone: Battlefield, scope: Bare)),
                )),
            ),
        ],
    ),
))
