// "Bolster 3." [CR#701.39a]
SingleFaced((
    characteristics: (
        name: "Cached Defenses",
        cost: [
            2,
            Green,
        ],
        types: [Sorcery],
        text: [
            spell(timing: None, instruction: bolster(3)),
        ],
    ),
))
