// "Shadow" [CR#702.28b]
SingleFaced(face: (
    characteristics: (
        name: "Dauthi Marauder",
        cost: [
            2,
            Black,
        ],
        types: [Creature],
        subtypes: [dauthi, minion],
        power: 3,
        toughness: 1,
        text: [shadow],
    ),
))
