// "Scavenge {5}{G}" [CR#702.97a]
SingleFaced(face: (
    characteristics: (
        name: "Drudge Beetle",
        cost: [
            1,
            Green,
        ],
        types: [Creature],
        subtypes: [insect],
        power: 2,
        toughness: 2,
        text: [
            scavenge(mana([
                5,
                Green,
            ])),
        ],
    ),
))
