// "Rampage 2" [CR#702.23a]
SingleFaced(face: (
    characteristics: (
        name: "Frost Giant",
        cost: [
            3,
            Red,
            Red,
            Red,
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Giant")],
        power: 4,
        toughness: 4,
        text: [rampage(2)],
    ),
))
