// "Skulk" [CR#702.118b]
SingleFaced(face: (
    characteristics: (
        name: "Furtive Homunculus",
        cost: [
            1,
            Blue,
        ],
        types: [Creature],
        subtypes: [homunculus],
        power: 2,
        toughness: 1,
        text: [skulk],
    ),
))
