// "{5}{R}{R}: Monstrosity 3." [CR#701.37a]
SingleFaced(face: (
    characteristics: (
        name: "Gluttonous Cyclops",
        cost: [
            5,
            Red,
        ],
        types: [Creature],
        subtypes: [cyclops],
        power: 5,
        toughness: 4,
        text: [
            activated(cost: mana([ 5, Red, Red, ]), instruction: monstrosity(3)),
        ],
    ),
))
