// "At the beginning of combat on your turn, if you both own and control this
// creature and a creature named Midnight Scavengers, exile them, then meld
// them into Chittering Host." [CR#701.42a]
SingleFaced(face: (
    characteristics: (
        name: "Graf Rats",
        cost: [Simple(symbol: Generic(amount: 1)), Simple(symbol: Specific(color: Of(color: Black)))],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Rat")],
        power: Lit(value: 2),
        toughness: Lit(value: 1),
        text: [
            triggeredIf(event: beginningOf(quantifier: The, part: Combat, whose: ByPlayer(player: you)), condition: and(conjuncts: [
                    matches(
                        subject: asType(type: Creature, subject: this, subtype: None),
                        predicate: and(conjuncts: [
                            hasPossessor(axis: Owner, possessor: you),
                            hasPossessor(axis: Controller, possessor: you),
                        ]),
                    ),
                    exists(subject: described(
                        determiner: Bare,
                        predicate: and(conjuncts: [
                            hasType(type: Creature),
                            named(source: Printed(name: "Midnight Scavengers")),
                            hasPossessor(axis: Owner, possessor: you),
                            hasPossessor(axis: Controller, possessor: you),
                        ]),
                    )),
                ]), instruction: sequentially(steps: [
                    exile(described(
                        determiner: All,
                        predicate: and(conjuncts: [
                            hasType(type: Creature),
                            hasPossessor(axis: Controller, possessor: you),
                            or(disjuncts: [
                                named(source: Printed(name: "Graf Rats")),
                                named(source: Printed(name: "Midnight Scavengers")),
                            ]),
                        ]),
                    )),
                    meld(
                        themVerbed(verb: Action(label: "Exile")),
                        "Chittering Host",
                    ),
                ])),
        ],
    ),
))
