// "Flying / Training" [CR#702.149a]
SingleFaced(face: (
    characteristics: (
        name: "Gryff Rider",
        cost: [
            Simple(symbol: Generic(amount: 2)),
            Simple(symbol: Specific(color: Of(color: White))),
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Human"), Of(host: Creature, label: "Knight")],
        power: Lit(value: 2),
        toughness: Lit(value: 1),
        text: [flying, training],
    ),
))
