// "Afflict 1" [CR#702.130a]
SingleFaced(face: (
    characteristics: (
        name: "Khenra Eternal",
        cost: [
            1,
            Black,
        ],
        types: [Creature],
        subtypes: [
            Of(host: Creature, label: "Zombie"),
            Of(host: Creature, label: "Jackal"),
            Of(host: Creature, label: "Warrior"),
        ],
        power: 2,
        toughness: 2,
        text: [afflict(1)],
    ),
))
