// "First strike / Bushido 1" [CR#702.45a]
SingleFaced(face: (
    characteristics: (
        name: "Kitsune Blademaster",
        cost: [
            2,
            White,
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Fox"), Of(host: Creature, label: "Samurai")],
        power: 2,
        toughness: 2,
        text: [
            keyword(label: "FirstStrike"),
            bushido(1),
        ],
    ),
))
