// "Eternalize {4}{U}{U}" [CR#702.129a]
SingleFaced(face: (
    characteristics: (
        name: "Proven Combatant",
        cost: [Blue],
        types: [Creature],
        subtypes: [human, warrior],
        power: 1,
        toughness: 1,
        text: [eternalize(mana([
            4,
            Blue,
            Blue,
        ]))],
    ),
))
