// "Fading 2" [CR#702.32a]
SingleFaced((
    characteristics: (
        name: "Skyshroud Ridgeback",
        cost: [Green],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Beast")],
        power: 2,
        toughness: 3,
        text: [fading(2)],
    ),
))
