// "Proliferate. Draw a card." [CR#701.34a]
SingleFaced(face: (
    characteristics: (
        name: "Steady Progress",
        cost: [
            Simple(symbol: Generic(amount: 2)),
            Simple(symbol: Specific(color: Of(color: Blue))),
        ],
        types: [Instant],
        text: [
            spell(
                timing: None,
                instruction: sequentially(steps: [
                    proliferate,
                    draw(amount: Lit(value: 1), agent: you),
                ]),
            ),
        ],
    ),
))
