// "Flying / Champion an Elemental" [CR#702.9b,702.72a]
SingleFaced(face: (
    characteristics: (
        name: "Supreme Exemplar",
        cost: [
            6,
            Blue,
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Elemental")],
        power: 10,
        toughness: 10,
        text: [
            flying,
            keywordSubject(label: "Champion", subject: hasSubtype(Of(host: Creature, label: "Elemental"))),
        ],
    ),
))
