// "First strike / Ripple 4" [CR#702.60a]
SingleFaced(face: (
    characteristics: (
        name: "Surging Sentinels",
        cost: [
            2,
            White,
        ],
        types: [Creature],
        subtypes: [human, soldier],
        power: 2,
        toughness: 1,
        text: [firstStrike, ripple(4)],
    ),
))
