// "Extort" [CR#702.101a]
SingleFaced(face: (
    characteristics: (
        name: "Syndic of Tithes",
        cost: [
            1,
            White,
        ],
        types: [Creature],
        subtypes: [human, cleric],
        power: 2,
        toughness: 2,
        text: [extort],
    ),
))
