// "Embalm {3}{U}" [CR#702.128a]
SingleFaced((
    characteristics: (
        name: "Tah-Crop Skirmisher",
        cost: [
            1,
            Blue,
        ],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Snake"), Of(host: Creature, label: "Warrior")],
        power: 2,
        toughness: 1,
        text: [embalm(mana(cost: [
            3,
            Blue,
        ]))],
    ),
))
