// "Draw a card. / Flashback {2}{U}" [CR#702.34a]
SingleFaced((
    characteristics: (
        name: "Think Twice",
        cost: [
            1,
            Blue,
        ],
        types: [Instant],
        text: [
            spell(timing: None, instruction: draw(amount: 1, agent: you)),
            flashback(mana(cost: [
                2,
                Blue,
            ])),
        ],
    ),
))
