// "When this creature enters, investigate." [CR#701.16a,111.10f]
SingleFaced(face: (
    characteristics: (
        name: "Thraben Inspector",
        cost: [White],
        types: [Creature],
        subtypes: [
            human,
            soldier,
        ],
        power: 1,
        toughness: 2,
        text: [
            triggered(event: zoneChange( subject: asType(type: Creature, subject: this, subtype: None), from: None, to: zone(zone: Battlefield, scope: Bare), observation: After, ), instruction: investigate(you)),
        ],
    ),
))
