// "Populate." [CR#701.36a]
SingleFaced((
    characteristics: (
        name: "Wake the Reflections",
        cost: [White],
        types: [Sorcery],
        text: [
            spell(timing: None, instruction: populate),
        ],
    ),
))
