// "Undying" [CR#702.93a]
SingleFaced((
    characteristics: (
        name: "Young Wolf",
        cost: [Green],
        types: [Creature],
        subtypes: [Of(host: Creature, label: "Wolf")],
        power: 1,
        toughness: 1,
        text: [undying],
    ),
))
