Subtype(
    category: Land,
    name: "island",
    spelling: "Island",
    grammar: Noun(singular: "Island"),
    params: [],
    body: Subtype(subtype: Of(host: Land, label: "Island"), rules: []),
)

