(
    name: "CostOption",
    kinds: [StaticEffect],
    params: { "components": Any, "tag": Any, "repeatable": Elidable(Any) },
    body: CostOption(components: Param(components), tag: Param(tag), repeatable: Param(repeatable)),
)
