(
    name: "If",
    kinds: [OneShotEffect],
    params: { "condition": Any, "then": Any, "otherwise": Elidable(Any) },
    body: If(condition: Param(condition), then: Param(then), otherwise: Param(otherwise)),
)
